<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <meta content="" name="author">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link rel="stylesheet" href="/assets/css/foundation.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/foundation.js" defer></script>
    <script src="/assets/js/app.js" defer></script><!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <header class="header">
      <div class="container header__container">
        <div class="header__top">
          <div class="header__text title-name">Архипов<span class="title-name__doter">.</span></div>
          <div class="header__social">
            <ul class="social">
              <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-github-alt"></i></a></li>
              <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-tumblr"></i></a></li>
              <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-vk"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="header__content">
          <h1 class="header__title">“Главное — это музыка”</h1><a class="header__link" href="https://www.youtube.com/watch?v=nBE85Qy_SLc" target="_blank">Смотреть видео</a>
        </div>
        <div class="header__scroll">
          <div class="header__scroll-text">Scroll</div>
        </div>
      </div>
    </header>
    <section class="music">
      <div class="container music__container">
        <div class="music__left"><img src="/assets/img/Music.jpg" alt=""></div>
        <div class="music__right about">
          <div class="about__subtitle subtitle">Обо мне</div>
          <h2 class="about__title title">Я музыкант</h2>
          <div class="about__slogan">“У музыки нет возраста и нации” </div>
          <div class="about__descriptons">Когда мне было 11 лет, я увидел на «MTV», как Курт Кобейн поёт «Heart-Shaped Box», и замер в изумлении. Тогда он мне показался самым красивым человеком в мире. Даже в столь юном возрасте, я почувствовал его грусть.</div>
          <div class="about__note"><span class="about__note-family">Архипов</span><span class="about__note-field"> -  Победитель гремми 2017</span></div>
        </div>
      </div>
    </section>
    <section class="life">
      <div class="container life__container">
        <h2 class="life__title">Несколько чисел моей жизни</h2>
        <div class="life__slogan">У музыки нет возраста и нации, <br/> однажды мы уйдём, а она останется.</div>
        <ul class="life__skills">
          <li class="life__skill">
            <div class="life__skill-number"></div>
            <div class="life__skill-text">Возраст начала занятий на скрипке</div>
          </li>
          <li class="life__skill">
            <div class="life__skill-number">76</div>
            <div class="life__skill-text">Концертов отыграл</div>
          </li>
          <li class="life__skill">
            <div class="life__skill-number">30</div>
            <div class="life__skill-text">Максимальное число городов в туре</div>
          </li>
          <li class="life__skill">
            <div class="life__skill-number">20</div>
            <div class="life__skill-text">Лет на сцене в качестве скрипача</div>
          </li>
        </ul><a class="life__link" href="http://">Читать историю</a>
      </div>
    </section>
    <section class="product">
      <div class="container">
        <div class="product__subtitle subtitle">Товары от студии Архипова</div>
        <h2 class="product__title title">Мой личный бренд</h2>
        <ul class="product__list">
          <li class="product__item"><img class="product__img" src="./assets/img/products/Work1.jpg">
            <div class="product__hover">
              <div class="product__description">
                <div class="product__name">Вино вдохновение</div>
                <div class="product__price">$ 600</div>
              </div>
            </div>
          </li>
          <li class="product__item"><img class="product__img" src="./assets/img/products/Work2.jpg">
            <div class="product__hover">
              <div class="product__description">
                <div class="product__name">Вино вдохновение</div>
                <div class="product__price">$ 600</div>
              </div>
            </div>
          </li>
          <li class="product__item"><img class="product__img" src="./assets/img/products/Work3.jpg">
            <div class="product__hover">
              <div class="product__description">
                <div class="product__name">Вино вдохновение</div>
                <div class="product__price">$ 600</div>
              </div>
            </div>
          </li>
          <li class="product__item"><img class="product__img" src="./assets/img/products/Work4.jpg">
            <div class="product__hover">
              <div class="product__description">
                <div class="product__name">Вино вдохновение</div>
                <div class="product__price">$ 600</div>
              </div>
            </div>
          </li>
          <li class="product__item"><img class="product__img" src="./assets/img/products/Work5.jpg">
            <div class="product__hover">
              <div class="product__description">
                <div class="product__name">Вино вдохновение</div>
                <div class="product__price">$ 600</div>
              </div>
            </div>
          </li>
          <li class="product__item"><img class="product__img" src="./assets/img/products/Work6.jpg">
            <div class="product__hover">
              <div class="product__description">
                <div class="product__name">Вино вдохновение</div>
                <div class="product__price">$ 600</div>
              </div>
            </div>
          </li>
          <li class="product__item"><img class="product__img" src="./assets/img/products/Work7.jpg">
            <div class="product__hover">
              <div class="product__description">
                <div class="product__name">Вино вдохновение</div>
                <div class="product__price">$ 600</div>
              </div>
            </div>
          </li>
          <li class="product__item"><img class="product__img" src="./assets/img/products/Work8.jpg">
            <div class="product__hover">
              <div class="product__description">
                <div class="product__name">Вино вдохновение</div>
                <div class="product__price">$ 600</div>
              </div>
            </div>
          </li>
          <li class="product__item"><img class="product__img" src="./assets/img/products/Work9.jpg">
            <div class="product__hover">
              <div class="product__description">
                <div class="product__name">Вино вдохновение</div>
                <div class="product__price">$ 600</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="form">
      <div class="container">
        <div class="form__subtitle subtitle">Контактные данные</div>
        <h2 class="form__title title">Пишите, пообщаемся</h2>
        <form class="form-email" action="/" method="POST">
          <div class="form-email__line">
            <label class="form-email__label" for="">Имя *</label>
            <input class="form-email__input" type="text" name="name">
          </div>
          <div class="form-email__line">
            <label class="form-email__label" for="">Email *</label>
            <input class="form-email__input" type="email" name="email">
          </div>
          <div class="form-email__line">
            <label class="form-email__label" for="">Сообщение</label>
            <textarea class="form-email__textarea" name="message"></textarea>
          </div>
          <div class="form-email__line">
            <button class="form-email__button button" type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </section>
    <footer class="footer">
      <div class="container footer__container">
        <div class="footer__auth"> <a class="title-name" href="/login.html">Авторизация<span class="title-name__doter">.</span></a></div>
        <div class="footer__social">
          <ul class="social">
            <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-github-alt"></i></a></li>
            <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-tumblr"></i></a></li>
            <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-vk"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </body>
</html>