<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login page</title>
    <meta content="" name="author">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link rel="stylesheet" href="/assets/css/foundation.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/foundation.js" defer></script>
    <script src="/assets/js/app.js" defer></script><!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <header class="header">
      <div class="container header__container">
        <div class="header__top"><a class="title-name" href="/">Архипов<span class="title-name__doter">.</span></a>
          <div class="header__social">
            <ul class="social">
              <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-github-alt"></i></a></li>
              <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-tumblr"></i></a></li>
              <li class="social__item"><a class="social__link" href="http://"><i class="fab fa-vk"></i></a></li>
            </ul>
          </div>
        </div>
        <form class="form-login" action="/login" method="POST">
          <div class="form-login__line">
            <label class="form-login__label" for="">Привет,</label>
            <input class="form-login__input" type="email" name="email" placeholder="E-MAIL">
          </div>
          <div class="form-login__line">
            <input class="form-login__input" type="password" name="password" placeholder="Пароль">
          </div>
          <div class="form-login__line">
            <button class="form-login__button" type="submit">Войти</button>
          </div>
        </form>
      </div>
    </header>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </body>
</html>